In [85]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [3]:
resp = requests.get('https://ebird.org/region/IN-PB-SH?yr=all')
soup = BeautifulSoup(resp.text, 'html.parser')

In [76]:
df = pd.DataFrame(columns = ['Species', 'eBird Link', 'Info'])

In [77]:
for i, species in enumerate(soup.find_all('div', 'Observation-species')):
    try:
        df.loc[i, 'Species'] = str(species.a.span.string)
        df.loc[i, 'eBird Link'] = species.a['href']
    except:
        break

In [78]:
df

,Species,eBird Link,Info
0,\n\t\t\t\t\t\t\t\t\tSort by Taxonomic order \n...,/region/IN-PB-SH?yr=all&m=&rank=mrec&hs_sortBy...,NaN
1,Rock Pigeon,/species/rocpig/IN-PB-SH,NaN
2,Eurasian Collared-Dove,/species/eucdov/IN-PB-SH,NaN
3,Laughing Dove,/species/laudov1/IN-PB-SH,NaN
4,Black Kite,/species/blakit1/IN-PB-SH,NaN
...,...,...,...
347,White-eared Bulbul,/species/whebul1/IN-PB-SH,NaN
348,White-rumped Vulture,/species/whrvul1/IN-PB-SH,NaN
349,Spanish Sparrow,/species/spaspa1/IN-PB-SH,NaN
350,Rock Eagle-Owl,/species/roeowl1/IN-PB-SH,NaN
351,Barnacle Goose,/species/bargoo/IN-PB-SH,NaN

In [79]:
df.drop(0, inplace = True)

In [91]:
done_indices = df[df['Info'].notna()].index.tolist()

for i, link in enumerate(df['eBird Link']):
    if i+1 in done_indices: continue
    try:
        birdResp = requests.get('https://ebird.org'+link)
    except:
        time.sleep(10)
        birdResp = requests.get('https://ebird.org'+link)
    birdSoup = BeautifulSoup(birdResp.text, 'html.parser')
    df.loc[i+1, 'Info'] = str(birdSoup.find('p', 'u-stack-sm').string)

In [92]:
df

,Species,eBird Link,Info
1,Rock Pigeon,/species/rocpig/IN-PB-SH,Fairly large pigeon with wild and feral popula...
2,Eurasian Collared-Dove,/species/eucdov/IN-PB-SH,Large pale dove with a black crescent on the n...
3,Laughing Dove,/species/laudov1/IN-PB-SH,"Small, similar in size to European Turtle-Dove..."
4,Black Kite,/species/blakit1/IN-PB-SH,"Medium-sized, rather nondescript raptor with o..."
5,Rose-ringed Parakeet,/species/rorpar/IN-PB-SH,"Vibrantly bright green parakeet, frequently fo..."
...,...,...,...
347,White-eared Bulbul,/species/whebul1/IN-PB-SH,Dull gray-brown bulbul with a black head and b...
348,White-rumped Vulture,/species/whrvul1/IN-PB-SH,"A medium-sized vulture with a silvery bill, a ..."
349,Spanish Sparrow,/species/spaspa1/IN-PB-SH,Similar in size and shape to House Sparrow. Br...
350,Rock Eagle-Owl,/species/roeowl1/IN-PB-SH,Large brown “horned owl” of rocky hills and se...
351,Barnacle Goose,/species/bargoo/IN-PB-SH,Handsome and distinctive. A rather compact and...

In [93]:
df.to_csv('Birds Data.csv')

In [99]:
df = pd.read_csv('Birds Data.csv', index_col = 'Unnamed: 0')

In [102]:
df

,Species,eBird Link,Info
1,Rock Pigeon,/species/rocpig/IN-PB-SH,Fairly large pigeon with wild and feral popula...
2,Eurasian Collared-Dove,/species/eucdov/IN-PB-SH,Large pale dove with a black crescent on the n...
3,Laughing Dove,/species/laudov1/IN-PB-SH,"Small, similar in size to European Turtle-Dove..."
4,Black Kite,/species/blakit1/IN-PB-SH,"Medium-sized, rather nondescript raptor with o..."
5,Rose-ringed Parakeet,/species/rorpar/IN-PB-SH,"Vibrantly bright green parakeet, frequently fo..."
...,...,...,...
347,White-eared Bulbul,/species/whebul1/IN-PB-SH,Dull gray-brown bulbul with a black head and b...
348,White-rumped Vulture,/species/whrvul1/IN-PB-SH,"A medium-sized vulture with a silvery bill, a ..."
349,Spanish Sparrow,/species/spaspa1/IN-PB-SH,Similar in size and shape to House Sparrow. Br...
350,Rock Eagle-Owl,/species/roeowl1/IN-PB-SH,Large brown “horned owl” of rocky hills and se...
351,Barnacle Goose,/species/bargoo/IN-PB-SH,Handsome and distinctive. A rather compact and...